<!--@subject {{trans "You have received %receiver_point points" receiver_point=$data.receiver_point}}@-->
<p>{{trans "Hello: %receiverName" receiverName=$data.receiver_name}}</p>
<p>{{trans "You have already received %senderPoint points " senderPoint=$data.receiver_point}}{{trans "from %senderName" senderName=$data.sender_info}}</p>
<p>{{trans "Your friend 's message: %message" message=$data.message}}</p>
