<?php 
    
?>

<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<script>
    window.feeMessage = "<?php echo $block->getFeeMessage(); ?>";
    window.formAction = "<?php echo $block->getFormAction(); ?>";
    window.checkExistingEmailUrl = "<?php echo $block->getExistingEmailUrl(); ?>";
</script>

<div id="send_to_friend" data-bind="scope:'send_to_friend'">
    <br />
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#send_to_friend": {
                "Magento_Ui/js/core/app": {
                   "components": {
                        "send_to_friend": {
                            "component": "Eleadtech_Giftpoint/js/account/view/vtofriend",
                            "config": {
                                
                            },
                            "children": {
                                "errors": {
                                    "component": "Magento_Ui/js/view/messages",
                                    "sortOrder": 0,
                                    "displayArea": "messages",
                                    "config": {
                                        "autoHideTimeOut": -1
                                     }
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>
</div>
