<?php 
    
?>
<script>
    window.customerData = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getCustomerData()); ?>;
    window.newAddressUrl = "<?php /* @escapeNotVerified */ echo $block->getNewAddressUrl(); ?>";
</script>

<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div id="customer_address" data-bind="scope:'customer_address'">
    <br />
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#customer_address": {
                "Magento_Ui/js/core/app": {
                   "components": {
                        "customer_address": {
                            "component": "Eleadtech_Giftpoint/js/account/view/vcustomer-address",
                            "config": {
                                
                            },
                            "children": {
                                "errors": {
                                    "component": "Magento_Ui/js/view/messages",
                                    "sortOrder": 0,
                                    "displayArea": "messages",
                                    "config": {
                                        "autoHideTimeOut": -1
                                     }
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>
</div>
