
<?php

$_productCollection = $block->getProductCollectionData();

$_helper = $this->helper('Magento\Catalog\Helper\Output');
$image = 'category_page_grid';
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <div class="products wrapper grid products-grid ">
        <?php $iterator = 1; ?>
        <div class="exchange_point"><?php echo __("Total Exchanged Points: ") ?><span>0</span></div>
        <div class="swiper-container">
            <ol class="products list items product-items swiper-wrapper">
                <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                <?php foreach ($_productCollection as $_product): ?>
                    <?php $point = $_product->getPointForExchange() ?>
                    <?php /* @escapeNotVerified */ echo($iterator++ == 1) ? '<li class="item product product-item swiper-slide">' : '</li><li class="item product product-item swiper-slide">' ?>
                    <div class="product-item-info" data-container="product-grid" data-exchange-point="<?php echo $point ?>">
                        <?php
                        $productImage = $block->getImage($_product, $image);
                        ?>
                        <?php // Product Image ?>
                        <a href="javascript:void(0)">
                            <?php echo $productImage->toHtml(); ?>
                        </a>
                        <div class="product details product-item-details">
                            <?php
                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                            ?>
                            <strong class="product name product-item-name">
                                <a class="product-item-link"
                                   href="javascript:void()">
                                    <?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                                </a>
                            </strong>
                            <div class="exchange_point"><?php echo __("Exchange point: %1",$point ) ?> </div> 
                           
                        </div>
                    </div>
                    <div class="zoom_image">
                        &nbsp;
                        <div class="popup">
                             <div class="popupcontainer">
                                <div class="title">
                                    <?php echo $block->stripTags($_product->getName(), null, true); ?>
                                </div>
                                <div class="containter">
                                    <div class="image">
                                        <img src="<?php echo $block->getPopupImageUrl($_product); ?>" />
                                    </div>
                                    <div class="description">
                                         <?php echo $_product->getDescription(); ?>
                                    </div>
                                </div>
                                <div class="close">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <input type="hidden" value="<?php echo $point ?>" name="data_exchange_point" />
                    <input type="hidden" value="<?php echo $_product->getSku() ?>" name="submit_sku" />
                    <?php echo($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
                    
                <?php endforeach; ?>

            </ol>
            <div class="swiper-pagination"></div>
            
        </div>
        
        <button name="submit_button" type="submit" class="button action continue primary">
                <span><span><?php echo __("Submit Your Gifts") ?></span></span>
            </button>
    </div>
    
<?php endif; ?>
<input type="hidden" value="" name="list_submit_skues" />
<script>
    require([
        'jquery',
        "pswiper"
    ], function($){ 
       var swiper = new Swiper('.swiper-container', {
            slidesPerView: 4,
            spaceBetween: 0,
            slidesPerGroup: 3,
            
            breakpoints: {
                320: {
                  slidesPerView: 1,
                  spaceBetween: 10,
                  slidesPerGroup: 1,
                  centeredSlides: true,
                },
                480: {
                  slidesPerView: 1,
                  spaceBetween: 20,
                  slidesPerGroup: 1,
                  centeredSlides: true,
                },
                // when window width is <= 640px
                640: {
                  slidesPerView: 3,
                  spaceBetween: 30,
                  slidesPerGroup: 3
                }
            },
            pagination: {
              el: '.swiper-pagination',
              clickable: true
            }
        });
    });
    
        
</script>
