<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko -->
   
<div class="giftpoint" data-bind ="">
    <table class="data table table-totals">
        
        <th> <!-- ko i18n: 'Order #' --><!-- /ko --></th>
        <th> <!-- ko i18n: 'Point' --><!-- /ko --></th>
        <th> <!-- ko i18n: 'Point Status' --><!-- /ko --></th>
        <th> <!-- ko i18n: 'Admin Message' --><!-- /ko --></th>
        <th> <!-- ko i18n: 'Date' --><!-- /ko --></th>
        <tbody>
            
            <!--ko foreach: { data: getGiftPointData(), as: 'gift'}-->
            <tr>
                <td>
                    <a data-bind="attr:{href:gift.url,target:'_blank'}"><span data-bind="text: gift.increment_id"></span></a>
                </td>
                <td>
                    <span data-bind="text: gift.point"></span>
                </td>
                <td>
                    <span data-bind="text: gift.status"></span>
                </td>
                <td>
                    <span data-bind="text: gift.message"></span>
                </td>
                <td>
                    <span data-bind="text: gift.created_at"></span>
                </td>
             </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>

<!-- /ko -->
