<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /*$_source = $block->getSource(); ?>
<?php $block->setPriceDataObject($_source) ?>
<?php if ($_source): ?>
<table width="100%">
    <?php echo $block->getChildHtml('main'); ?>
    <?php echo $block->getChildHtml('footer'); ?>
</table>
<?php endif;*/ ?>
<table class="data-table admin__table-secondary order-subtotal-table">
    <?php $_totals = $block->getTotals('footer')?>

    <?php if ($_totals):?>
        <tfoot>
            <?php foreach ($block->getTotals('footer') as $_code => $_total): ?>
                <?php if ($_total->getBlockName()): ?>
                    <?php echo $block->getChildHtml($_total->getBlockName(), false); ?>
                <?php else:?>
                <tr class="col-<?php /* @escapeNotVerified */ echo $_code?>">
                    <td <?php /* @escapeNotVerified */ echo $block->getLabelProperties()?> class="label">
                        <strong><?php echo $block->escapeHtml($_total->getLabel()); ?></strong>
                    </td>
                    <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?>>
                        <strong><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></strong>
                    </td>
                </tr>
                <?php endif?>
            <?php endforeach?>
        </tfoot>
    <?php endif?>

    <?php $_totals = $block->getTotals('')?>
    <?php if ($_totals):?>
        <tbody>
            <?php foreach ($_totals as $_code => $_total): ?>
                <?php if ($_total->getBlockName()): ?>
                    <?php echo $block->getChildHtml($_total->getBlockName(), false); ?>
                <?php else:?>
                    <tr class="col-<?php /* @escapeNotVerified */ echo $_code?>">
                        <td <?php /* @escapeNotVerified */ echo $block->getLabelProperties()?> class="label">
                            <?php if ($_total->getStrong()):?>
                            <strong><?php echo $block->escapeHtml($_total->getLabel()); ?></strong>
                            <?php else:?>
                            <?php echo $block->escapeHtml($_total->getLabel()); ?>
                                <?php $extraPrice =  $block->getSource()->getTotalExtraPrice();;?>
                                <?php if(floatval($extraPrice) > 0): ?>
                                    <br>
                                    <?php   
                                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $currenrcy = $objectManager->create('\Magento\Framework\Pricing\Helper\Data');

                                    ?>
                                    <?php $extraPrice = $currenrcy->currency($extraPrice,true, false); ?>
                                    <?php if($_total->getCode()=="shipping"): ?>
                                    <span style="font-size: 11px"><?php echo __("Extra Shipping Price: %1",$extraPrice) ?></span>
                                <?php endif ?>
                                <?php endif ?>
                            <?php endif?>
                        </td>

                        <?php if ($_total->getStrong()):?>
                            <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?>>
                                <strong><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></strong>
                            </td>
                        <?php else:?>
                            <td <?php /* @escapeNotVerified */ echo $block->getValueProperties()?>>
                                <span><?php /* @escapeNotVerified */ echo $block->formatValue($_total) ?></span>
                            </td>
                        <?php endif?>
                    </tr>
                <?php endif?>
            <?php endforeach?>
           
        </tbody>
    <?php endif?>
</table>
