<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $giftCollection = $block->getGiftPointCollection(); ?>

<?php if ($giftCollection && count($giftCollection)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
           
            <thead>
                <tr>
                    <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('Order #') ?></th>
                    <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Point') ?></th>
                    <th scope="col" class="col shipping"><?php /* @escapeNotVerified */ echo __('Point Status') ?></th>
                    <th scope="col" class="col shipping"><?php /* @escapeNotVerified */ echo __('Admin Message') ?></th>
                    <th scope="col" class="col status"><?php /* @escapeNotVerified */ echo __('Date') ?></th>
                   
                </tr>
            </thead>
            <tbody>
                <?php foreach ($giftCollection as $gift): ?>
                    <tr>
                        <td data-th="<?php echo $block->escapeHtml(__('Order #')) ?>" class="col id"><a target="_blank" href="<?php /* @escapeNotVerified */  echo $block->getHelper()->createOrderDetailUrl($gift->getIncrementId()) ?>"> <?php echo $gift->getIncrementId() ?> </a></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Point')) ?>" class="col date"><?php /* @escapeNotVerified */ echo $gift->getPoint() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Point Status')) ?>" class="col shipping"><?php echo \Eleadtech\Giftpoint\Model\Status::getStatusLabelById($gift->getStatus()) ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Admin Message')) ?>" class="col status"><?php /* @escapeNotVerified */ echo $gift->getComment() ?></td>
                        <td data-th="<?php echo $block->escapeHtml(__('Date')) ?>" class="col status"><?php /* @escapeNotVerified */ echo $block->getHelper()->getLocale()->formatDate($gift->getCreatedAt()) ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
   <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */ echo __('You have placed no orders.'); ?></span></div>
<?php endif ?>
