<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<?php $emailtoFriend = $this->enabledSendingToFriend() ?>
<script>
    window.getCustomerAvailablePoint = <?php /* @escapeNotVerified */ echo $block->getCustomerAvailablePoint(); ?>;
    window.productLoadingUrl = "<?php /* @escapeNotVerified */ echo $block->getProductLoadingUrl(); ?>";
    window.isCustomerLoggedIn = "<?php /* @escapeNotVerified */ echo $block->isInLogin(); ?>";
    window.giftRequestUrl = "<?php /* @escapeNotVerified */ echo $block->getGiftRequestActionUrl(); ?>";
    window.giftPageUrl = "<?php /* @escapeNotVerified */ echo $block->getGiftPageUrl(); ?>";
    window.enabledSendingToFriend = "<?php /* @escapeNotVerified */ echo $emailtoFriend; ?>";
</script>
<?php $activeTab = $this->getActiveTab() ?>

<div id="giftpoint"> 
    
    <div class="available_point">
        <?php echo __("Your Points: %1", $this->getCustomerAvailablePoint()) ?>
    </div>
    <div class="pcontainer" id="pointTab" data-mage-init='{"tabs":{"openedState":"active"}}' >
        <ul class="gifttab">
            <li data-role="collapsible"><a href="#tabs-detail"><?php echo __("Gift Point Orders") ?></a></li>
            <li data-role="collapsible"><a href="#tabs-collection"><?php echo __("Gift Collection") ?></a></li>
            <li data-role="collapsible"><a href="#tabs-request-gift"><?php echo __("Gift Request Orders") ?></a></li>
            <?php if($emailtoFriend): ?>
                <li data-role="collapsible"><a href="#tabs-send-to-friend"><?php echo __("Send To Friend") ?></a></li>
            <?php endif ?>
        </ul>
        <div class="pdetail">
            <div id="tabs-detail" data-role="content" >
                <?php echo $this->getChildHtml("giftpoint_detail") ?>
            </div>
            <div id="tabs-collection" data-role="content">
                <form action="<?php echo $this->getSubmitActionUrl() ?>" method="post">
                    <div class="customer_address">
                        <?php echo $this->getChildHtml("customer_address") ?>
                    </div>
                    <div class="gift_collection">
                    </div>
                    
                </form>
            </div>
            <div id="tabs-request-gift" data-role="content">
            </div>
            <?php if($emailtoFriend): ?>
            <div id="tabs-send-to-friend" data-role="content">
                <?php echo $this->getChildHtml("send_to_friend") ?>
            </div>
            <?php endif ?>
        </div>
        
    </div>
    
</div>
<script type="text/javascript">
    var productTabLoaded = false;
    var productGiftRequest = false;
    require([
        'jquery',
        'tabs',
        "Eleadtech_Giftpoint/js/account/action/product/productaction",
        "Eleadtech_Giftpoint/js/account/action/giftrequest/giftrequestaction",
        "Eleadtech_Giftpoint/js/account/action/giftpage/giftpagetaction",
        "Eleadtech_Giftpoint/js/account/action/inittab"
    ], function($, tabs, productAction,giftRequest,giftPage,initTab){ 
        
        giftPage.initLoading();
        
        $("#pointTab").tabs({active:<?php echo $activeTab ?>,openedState:'active'});
        
        var activeTab = <?php echo $activeTab ?>;
        
        if(activeTab == 1){
            if(!productTabLoaded){
                productTabLoaded = true;
                productAction.loadProductCollection();
            }
        }
        
        if(activeTab == 2){
            productGiftRequest = true;
            giftRequest.loadGiftRequestCollection();
        }
        $("#pointTab").off("click","ul.gifttab li").on("click","li", function(){
            var attr = $(this).find("a").attr("href");
            if(attr == "#tabs-collection" && !productTabLoaded){
                productTabLoaded = true;
                productAction.loadProductCollection();
            }
            if(attr == "#tabs-request-gift" && !productGiftRequest){
                productGiftRequest = true;
                giftRequest.loadGiftRequestCollection();
            }
        });
        
        var tabOnUrl = initTab.getTabNameOnUrl();
        
        if(tabOnUrl == "#tabs-collection" && !productTabLoaded){
            productTabLoaded = true;
            productAction.loadProductCollection();
        }
        if(tabOnUrl == "#tabs-request-gift" && !productGiftRequest){
            productGiftRequest = true;
            giftRequest.loadGiftRequestCollection();
        }
    });
    
</script>
