ul.gifttab{
    list-style-type: none;
    width: 100%;
    padding: 0px;
    margin: 10px 0;
    float: left;
}
ul.gifttab li.active{
    font-weight: bold;
}
ul.gifttab li{
    width: 25%;
    float: left;
    display: inline-block;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
ul.gifttab li a{
    display: block;
    background: #f5f5f5;
    max-width: 90%;
    margin: 0px;
    color: #000;
    padding: 5px 0;
}

ul.gifttab li:first-child a{
    margin-left: 0px;
}

#giftpoint div.shipping-address-items{
    width: 100%;
    float: left;
}
#giftpoint div.shipping-address-items ul{
    width: 100%;
    list-style: none;
    float: left;
}
#giftpoint div.shipping-address-items ul li{
    text-align: left;
    padding: 10px 30px;
    line-height: 25px;
    width: 35%;
    cursor: pointer;
    border: 2px solid transparent;
    position: relative;
    float: left;
}
#giftpoint div.shipping-address-items ul li:first-child{
    margin-left: 0px;
}
#giftpoint div.shipping-address-items ul li.selected.active{
    border-color: #2bc319;
}
#giftpoint div.shipping-address-items ul li.selected{
    border-color: #2bc319;
}
#giftpoint div.shipping-address-items ul li.active{
    border-color: #ff5501;
}
#giftpoint li.item.product{
    position: relative;
}
#giftpoint li.item.product{
    border: 2px solid transparent;
}
#giftpoint li.item.product:hover{
    border-color: #ff5501;
}

#giftpoint div.shipping-address-items ul li.selected.active::after,
#giftpoint div.shipping-address-items ul li.selected::after
{
    background: #2bc319;
    color: #ffffff;
    content: '\e610';
    font-family: 'luma-icons';
    height: 27px;
    width: 29px;
    font-size: 19px;
    line-height: 21px;
    padding-top: 2px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
#giftpoint li.item.product.product-item.selected::after{
    background: #2bc319;
    color: #ffffff;
    content: '\e610';
    font-family: 'luma-icons';
    height: 27px;
    width: 29px;
    font-size: 19px;
    line-height: 21px;
    padding-top: 2px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 10px;
    z-index: 999;
    cursor: pointer;
}

div#pointTab{
    margin: 20px 0;
}
.pdetail {
    float: left;
    width: 100%;
}
.available_point,.exchange_point{
    font-weight: bold;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}
.exchange_point{
    margin-top: 30px;
}
.swiper-container .exchange_point{
    font-size: 14px;
    margin-top: 0px;
}
.none_address{
    padding: 10px 0;
}
#giftpoint .ui-tabs-active{
    font-weight: bold;
}

.product-info-main .product.attribute.point_for_exchange .type:after{
    content: ':';
}
.product-info-main .product.attribute.point_for_exchange .value{
    display: inline-block;
}
.toppoint{
    float: right;
}
.toppoint a{
    color: #000;
}
.swiper-container.product-item-name,.swiper-container .product.name a{
    font-size: 14px;
}
.column.main .swiper-slide.product-item{
    padding-left: 0px;
}
.swiper-container.swiper-container-horizontal{
  width: 100%;
  height: 100%;
  padding: 0 10px;
}
.gift_collection .products-grid .product-item-info:hover, .gift_collection .products-grid .product-item-info.active{
    border: none;
    box-shadow: none;
    margin: 0px;
    padding: 0px;
}
.swiper-container .product-item-info{
    width: 220px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
}
.column.main .product-items.swiper-wrapper{
    margin-left: 0px;
}
.swiper-container .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
}
.zoom_image{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 0;
}
div.zoom_image:hover{
    z-index: 999;
}
.zoom_image:before{
    -webkit-font-smoothing: antialiased;
    font-size: 32px;
    line-height: 32px;
    color: #8f8f8f;
    content: '\e615';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    cursor: pointer;
}

.popup .title{
    font-weight: bold;
    margin-left: 80px;
    /* text-align: center; */
    padding: 10px 0;
    font-size: 20px;
}
.poup_containter .image{
    float: left;
}
.poup_containter .description{
    float: left;
    width: 30%;
}
.giftpoint-index-index .modal-popup .modal-content{
    padding: 0px;
    margin: 0px;
}
.giftpoint-index-index .modal-popup.modal-slide .modal-footer{
    border-top: none;
}
.giftpoint-index-index .modal-popup .modal-footer{
    padding: 0px;
}
.giftpoint-index-index .popup{
    display: none;
}
.giftpoint-index-index.giftpopupactive > .popup{
    display: block;
}
.giftpopupactive .popup{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    width: 100%;
}
.popupcontainer{
    width: 70%;
    margin: 20px auto;
    background: #FFF;
    z-index: 999999;
    position: relative;
    /* padding: 50px; */
    /* float: left; */
}
.popupcontainer .image{
    float: left;
}
.popupcontainer .description{
    float: left;
    width: 30%;
    margin-left: 5px;
}
.popupcontainer .close{
    position: absolute;
    top: 10px;
    right:10px;
    
}
div#giftpoint {
    width: 100%;
    float: left;
}
.gift_collection{
    width: 100%;
    float: left;
}
.popupcontainer .close:before{
    -webkit-font-smoothing: antialiased;
    font-size: 25px;
    color: #8f8f8f;
    content: '\e616';
    font-family: 'luma-icons';
    margin: 0;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
    cursor: pointer;
}
.popupcontainer .containter{
    float: left;
    width: 100%;
    background: #FFF;
}
div.point_sending{
    width: 100%;
    float: left;
}
div.point_sending label{
    float: left; 
    width: 12%;
    padding: 5px;
    
}
div.point_sending .fieldset{
    width: 100%;
    float:left;
}
div.point_sending .control{
    float: left;
    width: 50%;
    padding: 0px;
}
.sending_fee {
    float: left;
    padding: 10px;
    font-weight: bold;
}
@media only screen and (max-width: 1024px) {
    .zoom_image {
        z-index: 999;
    }
    #giftpoint ul.gifttab{
        width: 100%;
    }
    .zoom_image:before{
        font-size: 20px;
    }
    .zoom_image{
        left: 43%;
        bottom: -2px;
        top: initial;
    }
    .popupcontainer .description{
        display: none;
    }
    .popupcontainer .image{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    
    .popupcontainer{
        width: 90%;
    }
}
@media only screen and (max-width: 767px){
    .popup .title{
       margin-left: 80px;
    }
    .popupcontainer .close{
        top: 0px;
        right: 10px;
    }
    .popupcontainer{
        width: 100%;
    }
    .swiper-container.swiper-container-horizontal{
        padding: 0px;
    }
    .giftpoint-index-index .columns{
        display: block;
    }
    #giftpoint{
        width: 100%;
    }
    .pdetail .toolbar-amount{
        position: static;
        padding: 0px 0 20px 0;
        text-align: center;
    }
    .pdetail .pages-item-next, .pdetail .pages-item-previous{
        position: static;
    }
    #giftpoint div.shipping-address-items ul{
        padding: 0px;
    }
    #giftpoint div.shipping-address-items ul li{
        width: 45%;;
        padding: 10px 5px;
    }
}
@media only screen and (max-width: 414px){
    #giftpoint div.shipping-address-items ul li{
        width: 90%;
    }
    .swiper-container .product-item-info{
        width: auto;
    }
}
