<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible())-->

<div class="field addresses">
    <div class="control">
        <div class="shipping-address-items">
            <!-- ko if: (addresses.length)-->
                <ul>
                <!--ko foreach: { data: addresses, as: 'customer'}-->
                        <li data-bind="click: $parent.selectAddress,attr:{address_id:customer.customerAddressId}">
                        <!-- ko text: customer.prefix --><!-- /ko --> <!-- ko text: customer.firstname --><!-- /ko -->
                        <!-- ko text: customer.lastname --><!-- /ko --> <!-- ko text: customer.suffix --><!-- /ko --><br/>
                        <!-- ko text: customer.street --><!-- /ko --><br/>
                        <!-- ko text: customer.city --><!-- /ko -->, <!-- ko text: customer.region --><!-- /ko --> <!-- ko text: customer.postcode --><!-- /ko --><br/>
                        <!-- ko text: customer.countryName --><!-- /ko --><br/>
                        <!-- ko text: customer.telephone --><!-- /ko --><br/>
                            <br/>
                        </li>
                    <!-- /ko -->
                </ul>
             <!-- /ko -->
             
             <!-- ko ifnot: (addresses.length) -->
                <div class="none_address">
                    <!-- ko text: getNonAddressMessage() --><!-- /ko --> 
                </div>
             <!-- /ko -->
             
             <div class="new_address">
                 <a data-bind="attr:{href:getNewAddressUrl(), target:'_blank'}"><!-- ko i18n: 'Create Your New Address' --><!-- /ko --></a>
             </div>
            
        </div>    
    </div>      
    <input type="hidden"  value="" name='data_address_id' /> 
    
    <div style="display:none" data-bind="afterRender: initLoading"></div>
</div>
<!-- /ko -->
