<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<!-- ko if: (isVisible())-->
<div class="point_sending">
    
    <div class="email_friend">
        <form data-role="pointsending"
                data-bind="submit:sendpoint,attr:{action: getFormAction()}"  
                method="post">
                <div class="fieldset"
                    data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="field field-email required">
                        <label class="label" for="login-email"><span data-bind="i18n: 'Friend Email'"></span></label>
                        <div class="control">
                            <input type="email"
                                   class="input-text"
                                   id="friendemail"
                                   name="friend_email"
                                   data-validate="{required:true, 'validate-email':true}" />
                        </div>
                    </div>
                </div>
                
                <div class="fieldset"
                    data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="field field-email required">
                        <label class="label" for="point-sending"><span data-bind="i18n: 'Sending Point'"></span></label>
                        <div class="control">
                            <input type="text"
                                   class="input-text"
                                   id="point-sending"
                                   name="point_sending"
                                   data-validate="{required:true,'validate-greater-than-zero':true}" />
                        </div>
                    </div>
                </div>
                <div class="fieldset"
                    data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                    <div class="field field-email required">
                        <label class="label" for="message"><span data-bind="i18n: 'Message'"></span></label>
                        <div class="control">
                            <textarea name="comment" id="comment"  class="input-text" cols="5" rows="3" data-validate="{required:true}"></textarea>
                        </div>
                    </div>
                </div>
                
                <div class="actions-toolbar fieldset">
                    <label class="label"></label>
                    <div class="primary">
                        <button type="submit" class="button action continue primary"><span data-bind="i18n: 'Send'"></span></button>
                    </div>
                    <div class="sending_fee">
                        <div>  <!-- ko text: getFeeMessage() --><!-- /ko --> </div>
                    </div>
                </div> 
            </form>
    </div>    
    
</div>
<!-- /ko -->

